body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #7b7878; /* gris très clair, reposant*/
    margin-top: 100px;
}
h1 {
    color: #333;
}

#clickButton {
    padding: 20px 40px;
    font-size: 24px;
    background-color: #a24804;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.1s;
}

#clickButton:active {
    transform: scale(0.95);
}

#counter {
    font-weight: bold;
    font-size: 28px;
}#clickButton {
    transition: transform 0.1s; /* animation rapide */
}

#clickButton:active {
    transform: scale(1.2); /* grossit quand on clique */
}